<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{HH:mm:ss.SSS}]  [%-5level]  %logger{26} -  %msg%n</Pattern>
        </layout>
        
<!--        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    if (logger.startsWith("org.") 
                        || logger.startsWith("com.")
                        || logger.startsWith("ch.")
                        || logger.startsWith("c."))
                    return false;
                    else 
                    return true;
                </expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>-->
        
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/Desktop/thunderbolt.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/Desktop/thunderbolt.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>3MB</maxFileSize>
        </triggeringPolicy>
    
        <encoder>
            <pattern>[%date{dd MMM HH:mm:ss.SSS}]  [%-5level]  %logger{26} -  %msg%n</pattern>
        </encoder>
    
<!--        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    if (logger.startsWith("org.") 
                        || logger.startsWith("com.")
                        || logger.startsWith("ch.")
                        || logger.startsWith("c."))
                    return false;
                    else
                    return true;
                </expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>-->
        
    
    </appender>
  
    <logger name="jspLogger" level="INFO"/>
    <logger name="jspDebug" level="DEBUG"/>
    <logger name="jspTrace" level="TRACE"/>
<!--    <logger name="org" level="OFF"/>
    <logger name="com" level="OFF"/>-->
 
    <root level="TRACE">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>