/* 
    Document   : app
    Created on : Jul 4, 2013, 10:32:57 PM
    Author     : ABHILASHM.2010
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
	font-family: customFontLight;
	font-weight: normal;
	src: url('font/HelveticaNeueLight.ttf') format('truetype'), url('font/HelveticaNeueLight.woff') format('woff');
}

@font-face {
	font-family: customFont;
	font-weight: normal;
	src: url('font/HelveticaNeue.ttf') format('truetype'), url('font/HelveticaNeue.woff') format('woff');
}

body {
    padding-top: 50px; /* 1px to make the container go all the way to the bottom of the topbar */
    padding-left: 10px;
    font-family: customFont, 'Droid Sans', sans-serif !important;
    /*font: 0.7em/1.5em "Trebuchet MS",Verdana,sans-serif !important;*/
}
input, button, select, textarea {
    font-family: customFont, 'Droid Sans', sans-serif !important;
}

.navbar .container {
    height: 40px;
}

.brand {
    font-size: 20px !important;
    color: white !important;
}

.brand:hover {
    color: gainsboro !important;
}

.nav-collapse .nav {
    font-size: 16px;
    /*margin-top: -20px !important;*/
}

.container {
    width: 90% !important;
}

.userbox {
    float: right;
    padding-left: 20px;
}

.userbox .dropdown-menu {
    margin-left: 150px;
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
}

/* Datepicker */
#ui-datepicker-div{
    font: 14px "Trebuchet MS",Verdana,sans-serif !important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #1771E8 none;
	color: white !important;
}

.ui-datepicker-today a {
    background: #00134F none !important;
    color: white !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #016CFF !important;
}

/* For spaces between buttons */
.button-divider {
	margin:15px
}

.settingsView {
	padding-left: 20px;
/*    display: inline;*/
    float: right;
    /*clear: left;*/
}

#settingsViewLabel {
	font-size: 14px;
	padding-right: 5px;
}

#previousWeek {
	margin-left: 5px;
}

.weekNum {
    display: inline;
    padding: 0 10px 0 10px;
}

#milestoneTabContent {
}

.scheduleTable {
    /*margin: auto;*/
    display: table;
    table-layout: fixed;
	z-index: 0;
}

.timeDisplayCell {
    white-space: nowrap;
    width: 50px;
    max-width: 70px;
	vertical-align: top;
	text-align: right;
	border-top: 1px solid #dddddd;
}

.tdCell {
	position: relative;
	box-sizing: border-box;
	width: 110px;
	height: 20px;
}

.tdUpper {
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}

.tdLower {
	border-top: 1px dotted #dddddd;
	border-left: 1px solid #dddddd;
}

.timeslotCell {
	position: absolute;
	border: 1px solid black;
	background-color: #AEC7C9;
	cursor: pointer !important;
}

.traverseWeek {
	cursor: pointer !important;
}

.popover {
	min-width: 240px;
    max-width: 500px !important;
    font-weight: normal;
    z-index: 1031 !important;
}

.token-input-list {
    display: none;
}

.token-input-token-facebook, .token-input-list, .token-input-list-facebook, .token-input-dropdown-facebook, #token-input-, #createTeamSelect {
    max-width: 200px !important;
    z-index: 1032 !important;

    /* Bootstrap stuff */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.popoverInput {
    width: 200px;
	margin-bottom: 0 !important;
}

.bookedTimeslot:hover, .unbookedTimeslot:hover {
    box-sizing: border-box;
}

.noTimeslot {
    background-color: #f5f5f5 !important; 
    border: none !important;
}

.unbookedTimeslot {
    /*box-sizing: border-box;*/
	/*    background-color: #AEC7C9 !important; 
		border: 1px solid #dddddd;*/
}

.unavailableTimeslot {
    background-size: 115px 115px, 115px 115px, 2px 2px, 2px 2px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-image: -webkit-linear-gradient(white 2px, transparent 2px),
		-webkit-linear-gradient(0, white 2px, transparent 2px),
		-webkit-linear-gradient(rgba(255,255,255,.8) 1px, transparent 1px),
		-webkit-linear-gradient(0, rgba(255,255,255,.8) 1px, transparent 1px);
    background-image: -moz-linear-gradient(white 2px, transparent 2px),
		-moz-linear-gradient(0, white 2px, transparent 2px),
		-moz-linear-gradient(rgba(255,255,255,.8) 1px, transparent 1px),
		-moz-linear-gradient(0, rgba(255,255,255,.8) 1px, transparent 1px);
    background-image: linear-gradient(white 2px, transparent 2px),
		linear-gradient(90deg, white 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.8) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.8) 1px, transparent 1px);
    -pie-background: linear-gradient(white 2px, transparent 2px) -2px -2px / 100px,
		linear-gradient(90deg, white 2px, transparent 2px) -2px -2px / 100px,
		linear-gradient(rgba(255,255,255,.8) 1px, transparent 1px) -1px -1px / 20px,
		linear-gradient(90deg, rgba(255,255,255,.8) 1px, transparent 1px) -1px -1px / 20px,
		#269;
}

.bookedTimeslot, .popover {
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}

.deletedBookingOnTimeslot {
    margin-top: -20px !important;
    float: right;
}

.rejectedBooking {
    opacity: 0.3;
    border-radius: 5px;
    background-color: #F75D59 !important;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQY02P8//8/AzGAkSYKrQbO6sHuRgB90h5hFaCnewAAAABJRU5ErkJggg==);
    border: 2px solid #415641 !important;
	pointer-events: none;
}

.taChosenTimeslot {
	background-color: #AEC7C9;
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
	background-size: 8px 8px;
}

.otherTATimeslot {
	background-color: #FFDFD6 !important;
}

.booking, .rejectedBooking {
    margin: auto;
    width: 100px;
    height: 40px;
    line-height: 20px;
    text-align: center;
	vertical-align: middle;
	font-size: 12px;
    z-index: 10;
}


.tooltip {
    z-index: 9;
}

.pendingBooking {
    background-color: #F6EE4E !important;
}

.approvedBooking {
    background-color: #A9DBA9 !important;
}

.rejectedBooking {
    background-color: #F75D59 !important;
}

.legend {
    display: block;
    padding-top: 10px;
    font-size: 13px;
    float: right;
    margin-top: 5px;
    clear: both;
}

.legend td {
	height: 20px;
}

.legendBox {
    line-height: 20px;
    max-height: 20px;
	width: 10px;
}

.scheduleContainer {
    margin-top: -30px;
}

.pendingBookings {
	margin: 0 auto 0 auto;
	line-height: 27px;
	width: 220px;
	text-align: left;
}

/* To display the banner on index page */
.banner {
	position: absolute;
	left:68%;
	top:39%;
	width: 340px;
}

.activeTerms {
    float: right;
    margin-top: -45px;
}

.editScheduleActiveTerms {
	position: relative;
	margin-top: 20px;
	z-index: 10;
	float: right;
}


.notification-drawer {
	position: absolute;
	top:22%;
	left:76%;
}

#viewTimeslotTable {
    max-width: 500px;
    font-weight: normal;
	border: none;
}

#createTimeslotTable {
    max-width: 500px;
    font-weight: normal;
	border: none;
}

#venueInput {
	margin-bottom: 0 !important;
}

#createTimeslotsSubmitBtn, #editTimeslotsSubmitBtn {
	display: inline;
	margin-left: 10px;
}

#createTimeslotsTab select {
	margin-bottom: 0 !important;
}

#timeslotsProgressBar {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	width: 220px;
}

#createTimeslotsMilestoneLabel {
	display: block;
	vertical-align: top;
	margin-top: 5px;
}

#closeBookingBtn {
    float: right;
}

/* For sticky footer. Not working perfectly */
#footer {
    position: relative;
    margin: 40px 0px 0px;
    padding: 10px 0px;
    font-size: 14px;
    line-height: 0.5;
    color: rgb(119, 119, 119);
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    background-color: rgb(245, 245, 245);
    border-top: 1px solid #D1D0CE;
}

#scheduleProgressBar {
	width: 50%;
	margin: auto;
	margin-top: 50px;
}

/* COLORS FOR NAVBAR ITEMS */
.navbar-title {
	color: white !important;
	/*	border: 2px solid black !important;
		border-radius: 5px;
		box-sizing: border-box;*/
}

.navbar-title:hover {
	/*	border-radius: 5px;
		box-sizing: border-box;*/
	color: gainsboro !important;
}

/* COLOR FOR NAME ON NAVBAR */
.navbar-username {
	color: white !important
}


.popoverBtn {
    margin-right: 20px !important;
}

.ui-notifiy {
    position: absolute;
    left:40%;
    top:9%;
    margin: auto !important;
}

.teamExists {
	background-color: #faf4a8 !important ;
}

.timeslotsTable th {
	font-size: 14px;
	font-weight: normal;
}

.timeslotsLegend {
	float: right;
	overflow: auto;
	line-height: 10px;
	margin-left: 50px;
}

.timeslotsLegend td.legendBox {
	border: 1px solid black;
	max-width: 20px;
}

.booking:not(.myTeamBooking) {
	color: grey;
	background-color: rgba(248, 247, 216, 0.5) !important;
}

.booking:not(.myTeamBooking) > .popover {
	opacity: 0.9;
}

.fuelux .spinner input {
	width: 206px !important;
}

#milestoneConfigButtons {
	float: right;
	margin-right: 60px;
}

#addMilestoneBtn {
	margin-left: 20px;
}

.textinside {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 0 5px 0 5px;
}

.bookingTimeslotHover {
	background-color: #FFDFD6;
}

.moveIcon {
	font-size: 10px;
	float: right;
	height: 100%;
	margin-left: 5px;
	vertical-align: bottom;
}

.usersPage {
	padding-top: 20px;
	overflow: hidden;
}

.usersPage > .users {
	border-radius: 10px;
	float: left;
	padding: 10px;
}

#teamTitle {
	margin-bottom: 37px;
}

.memberName {
	display: block;
}

teamBtn {
	float: right;
}

.userTypeTitle {
	padding-top: 20px;
}

.modalTable {
	text-align: left;
	width: 300px;
}

.modalTeamTable {
	width: 450px;
}

.modalTable td, .modalTable th {
	padding: 5px;
	border: 1px solid #dddddd;
}

.taSignupsTable {
	width: 450px;
}

select, input {
	margin-bottom: 0 !important;
}

.selectTermTable {
	margin: 20px 0 20px 0;
}

.formLabelTd {
	padding-right: 20px
}

.topBtn {
	margin: 15px 20px 0 0;
}

.assignTeamsLink {
	color: red;
}

.userSelectBtn {
	text-align: left !important;
}

.dataTable th:hover, .dataTable thead td:hover {
	border-radius: 5px;
	background-color: #f5f5f5 !important;
}

.modal-body .multiselect-container {
	width: 300px !important;
}

.multiselectFilterAddon {
	margin-left: 7px;
}

.dashboardPicker {
	float: left;
	display: inline-block;
	margin-left: 20px;
}

#myTeamsModalTable {
	width: 400px;
}

.bootbox-input {
	width: 90% !important;
}

.customPrompt {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

#bookedTeamsPieDiv {
	margin: auto auto 10px auto;
}

.dateCol {
	text-align: center;
}