/* 
    Document   : app
    Created on : Jul 4, 2013, 10:32:57 PM
    Author     : ABHILASHM.2010
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 60px; /* 1px to make the container go all the way to the bottom of the topbar */
    padding-left: 10px;
    /*font: 0.7em/1.5em "Trebuchet MS",Verdana,sans-serif !important;*/
}

.navbar .container {
    height: 40px;
}

.brand {
    font-size: 20px !important;
    /*margin-top: -20px;*/
}

.nav-collapse .nav {
    font-size: 16px;
    /*margin-top: -20px !important;*/
}

.page {
    padding-top: 20px;
}

.container {
    width: 90% !important;
}

.userbox {
    float: right;
    padding-left: 20px;
}

.userbox .dropdown-menu {
    margin-left: 150px;
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
}

/* Datepicker */
#ui-datepicker-div{
    font: 14px "Trebuchet MS",Verdana,sans-serif !important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #1771E8 none;
	color: white !important;
}

.ui-datepicker-today a {
    background: #00134F none !important;
    color: white !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #016CFF !important;
}

/* For spaces between buttons */
.button-divider {
	margin:15px
}

.scheduleTable {
    width: 100%;
}